$gray: #808080;
$gray-border: #95989A;
$blue:rgb(0, 5, 64);
$red:#B5182D;
$black-text: #313232;
$yellow: #FFFBF5;
$rose: #F2DEE0;
$cta-yellow:rgb(167, 152, 124);

$columns: 12;
$desktop: 1280px;
$tablet-landscape:1024px;
$tablet: 768px;
$mobile-landscape: 736px;
$mobile: 600px;